<header>
    <h1>joe kirkham</h1>

    <div id="navbarPicContainer">
        <img id="headerPic" src="assets/homeHeader.jpg">
        <div id="headerNavbar">
            <!-- JS will generate nav button elements here -->
        </div>
    </div>

    <div id="headerFoot"></div>
</header>

<div class="contentWrapper">
    <div id="{{page}}PrimaryContent" class="primaryContent">
        <h2>{{primaryContentHeader}}</h2>
        {{{primaryContent}}}
    </div>

    <div id="{{page}}SecondaryContent" class="secondaryContent">
        {{{secondaryContent}}}
    </div>
</div>